.main {
    display:grid;
    width: 1294px;
    height: 668px;
}

.header {
    border: 2px solid black;
    height: 100px;
    
}
.navbar {
    border: 2px solid black;
    height: 400px;
    width: 200px;
}
.footer {
    border: 2px solid black;
    height: 100px;
}